@charset "utf-8";
@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body, html { height: 100%; background: #fc4545 }
#wrap { position: relative; height: 100%;}
.row { max-width: 1200px; margin: 0 auto; padding: 0 10px; }
.row1000 { max-width: 1870px; margin: 0 auto; }
.header-outer { 
    background: rgba(255, 255, 255, 0.6);
    position: fixed; width: 100%; z-index: 99999;
    box-shadow: 0 0 30px -10px #000; }
#header { position: relative; height: 122px; }
#header h1 { padding-top: 30px; }

#header .open-gnb { display: none; }
#header .nav { position: absolute; top: 50%; right: 0;
               transform: translateY(-50%); }

#header .nav .depth1 > li { display: inline-block; }
#header .nav .depth1 > li > a { 
    color: #757575; 
    padding: 30px 40px; 
    transition: all 0.5s;
    font-family: 'Open Sans', sans-serif; }
#header .nav .depth1 > li > a:hover { color: #b4b4b4; }






.outlayer { 
    display:none;
    position:fixed; top:0; bottom:0;
    left:0; right:0;
    background:rgba(0,0,0,0.5);
    z-index:9999; }
.outlayer.on { display:block }






/* 메인 슬라이드 */
.section-outer { height:100%; }
.section-outer .section { height:100% }
.section-outer .section:nth-child(1) .slide-outer { height:100% }
.section-outer .section:nth-child(1) .slide-inner { height:100%; overflow: hidden; }
.section-outer .section:nth-child(1) .slide { 
    position: relative; height:100%;
    background-size:cover; 
    background-repeat:no-repeat;
    background-position:center; }

.section-outer .section:nth-child(1) .slide1 {
    background-image:url(../images/section6.jpg) }
.section-outer .section:nth-child(1) .slide2 {
    background-image:url(../images/section6.jpg) }
.section-outer .section:nth-child(1) .slide3 {
    background-image:url(../images/section6.jpg) }

/* 메인 슬라이드 텍스트 애니메이션 */










/* 화살표 버튼 */
.slide-outer { position: relative; }
.slide-outer .marrow { 
    font-size: 80px; color: rgba(0, 0, 0, 0.3);
    position: absolute; top: 50%;
    transform: translateY(-50%);
    background: none; }
.slide-outer .prevArrow { left: 7%; z-index: 999999; opacity: 0; }
.slide-outer .nextArrow { right: 7%; opacity: 0; }


/* 도트 버튼
.slide-outer .slick-dots {
    position: absolute; 
    bottom: 20px; width: 100%;
    text-align: center; }
.slide-outer .slick-dots li { display: inline-block; }
.slide-outer .slick-dots li button { 
    width: 15px; height: 15px;
    border-radius: 50%;
    background: #ddd;
    text-indent: -999999px;
    overflow: hidden; margin: 0 5px; }
.slide-outer .slick-dots li.slick-active button {
    
    background: #f76f6f;
    width: 40px; border-radius: 50px; } */

/* 막대(bar) 버튼 애니메이션 */
.slide-outer .slick-dots {
    position: absolute; 
    bottom: 30px; width: 100%;
    text-align: center; position: relative; }
.slide-outer .slick-dots li { 
    display: inline-block; width: 100px;
    height: 3px; background: #ffffff4d;
    margin: 0 5px; position: relative; }
.slide-outer .slick-dots li button { 
    width: 0%; height: 3px;
    background: #ffffff4d;
    text-indent: -999999px;
    overflow: hidden; 
    position: absolute;
    top: 0; left: 0; }
.slide-outer .slick-dots li.slick-active button {
    background: #fff; width: 100%;
    animation: progressbar 2.5s both; }

@keyframes progressbar {
    0% { width: 0% }
    100% { width: 100% }
}

/* 슬라이드 자동재생/멈춤버튼 */
.slide-outer .plpa {
    font-size: 15px; color: rgba(0, 0, 0, 0.8);
    background: none; position: absolute;
    bottom: 7px; left: 50%; margin-left: 180px; }
/* 메인 슬라이드 텍스트 */
.slide-outer .slide .text {
    position: absolute; width: 100%;
    text-align: center; top: 50%;
    transform: translateY(-50%);
    font-size: 4.16vw; color: #fff;
    font-family: 'Anton', sans-serif; 
}

/* 오른쪽 사이드메뉴 */
.side .side_bar { position: absolute; bottom: 415px; right: 80px; }
.side .side_bar span:after {
    content: '';
    background: #acacac;
    width: 35px;
    height: 1px;
    position: absolute;
    top: 35px;
    right: 0;
}




/* About : 첫번째 section */
.section .about { 
    background: rgb(255, 252, 244); margin: 0 auto; border: 2px solid #000;
    height: 100%; }
.section .about-box { height: 100%; }
.section .sec-about { border-bottom: 2px solid #000; }

.section .sec-about .text-box { 
    font-size: 120px; padding: 0 330px; color: #fff;
    font-family: 'Merriweather', serif;
    background: #000; float: left; letter-spacing: 0.3em; }

.section .sec-about .text-box h2 { 
    transform: translateY(100%); opacity: 0; transition:all 0.5s }
.section .sec-about .text-box h2.on { 
    transform: translateY(0%); opacity: 1; }

.section .about-empty img { 
    float: right; width: 45px; height: 45px; position: relative;
    top: 63px; right: 280px; }

.section .about-text { position: relative; }

.section .about-text .about-text1 {
    font-size: 30px; font-family: 'Nanum Myeongjo', serif;
    padding: 70px 0 0 100px; line-height: 2;
}
.section .about-text .about-text2 {
    font-size: 30px; font-family: 'Nanum Myeongjo', serif;
    padding: 70px 0 50px 100px; line-height: 2;
}
.section .about-text .about-img {
    position: absolute; top: 50%; right: 100px;
    transform: translateY(-50%);
}




/* Skill : 두번째 section */
#skill { padding: 35px 0; }

.section .skill { 
    background: #fff; margin: 0 auto; border: 2px solid #000; height: 100%; }
.section .sec-skill { border-bottom: 2px solid #000; }
.section .sec-skill .text-box {
    font-size: 120px; padding: 0 365px; color: #fff;
    font-family: 'Merriweather', serif;
    background: #000; float: left; letter-spacing: 0.3em;
}
.section .sec-skill h2 { 
    transform: translateY(100%); opacity: 0; transition: all 0.5s; }
.section .sec-skill h2.on { transform: translateY(0%); opacity: 1; }
.section .skill-empty img { 
    float: right; width: 45px; height: 45px; position: relative;
    top: 63px; right: 280px; }
.section .inner { bottom: 30px; }
.section .skill-box { background: rgb(248, 215, 28); height: 100%; }



.section .skill-box ul { padding: 8% 0 15% 35%; }
.section .skill-box ul li { width: 45%; }
.section .skill-box ul li p { padding: 10px 0; font-weight: bold; }
.section .skill-box .battery { 
    border: 3px solid #000; position: relative; 
    font-size: 20px; background: #fff;
    border-radius: 5px; }
.section .skill-box .battery:after {
    content: ''; position: absolute;
    top: 50%; transform: translateY(-50%);
    right: -2%; border: 2.5px solid #000;
    height: 54%; width: 1%; background: #fff;
    border-radius: 2px;
}

.section .skill-box .energy { 
    margin: 0.7%; background: limegreen; opacity: 0;
    text-align: right; border-radius: 5px; }

.section .skill-box .html { animation: html_bar 1s both  }
.section .skill-box .css { animation: css_bar 1s both 0.3s }
.section .skill-box .js { animation: js_bar 1s both 0.6s }
.section .skill-box .jq { animation: jq_bar 1s both 0.9s }
.section .skill-box .photoshop { animation: photoshop_bar 1s both 1.2s }

@keyframes html_bar {
    0% { width: 0% }
    100% { width: 85%; opacity: 1; }
}
@keyframes css_bar {
    0% { width: 0% }
    100% { width: 80%; opacity: 1; }
}
@keyframes js_bar {
    0% { width: 0% }
    100% { width: 65%; opacity: 1; }
}
@keyframes jq_bar {
    0% { width: 0% }
    100% { width: 70%; opacity: 1; }
}
@keyframes photoshop_bar {
    0% { width: 0% }
    100% { width: 70%; opacity: 1; }
}





/* 포트폴리오 갤러리 : 세번째 section */
#portfolio { padding: 50px 0;  }
.section .portfolio { 
    background: #fff; margin: 0 auto; border: 2px solid #000; height: 100%; }
.section .port-box { height: 100%; }
.section .sec-port { border-bottom: 2px solid #000; }
.section .sec-port .text-box { width: 80%;
    font-size: 120px; color: #fff;
    font-family: 'Merriweather', serif;
    background: #000; float: left; letter-spacing: 0.3em;
}
.section .sec-port .text-box h2 { text-align: center; }
.section .port-empty img { 
    float: right; width: 45px; height: 45px; position: relative;
    top: 63px; right: 180px; }
.section .sec-port h2 { transform: translateY(100%); opacity: 0; transition: all 0.5s; }
.section .sec-port h2.on { transform: translateY(0%); opacity: 1; }
.portfolio, ul.gallery { height: 100%; margin: 80px 30px; }
.portfolio ul.gallery li { 
    float: left; width: 25%; height: 30%;
    overflow: hidden; padding: 10px;
    margin-bottom: 1%; }
.portfolio .gallery .overlay { position: relative; bottom: 100%;  height: 100%;
    background: rgba(0,0,0,0.5); opacity: 0; transition: all 0.5s; }
.portfolio .gallery a:hover .overlay { opacity: 1; }
.portfolio .gallery .pofol_text { color: #fff; line-height: 1.5; padding: 10px; }
.portfolio .gallery .pofol_text > span { font-size: 13px; color: #f3ff4f; line-height: 5; }
.portfolio .gallery .pofol_text h4 { font-weight: 900; }
.portfolio .gallery .pofol_text h4 span { font-weight: 500; font-size: 12px; }
.portfolio .gallery .pofol_text p { margin-top: 20px; font-size: 11px; opacity: 0.7; }

/* 갤러리 팝업박스 */
.portfolio .galleryPopup { 
    opacity:0; position:fixed; top:50%; bottom:50%;
    left:50%; right:50%; background:rgba(0,0,0,0.8);
    z-index:99999999; transition:all 0.5s;
    overflow:hidden; }
.portfolio .galleryPopup.on { 
    opacity:1; top:0%; bottom:0%; left:0%; 
    right:0%; overflow:visible; }
.galleryPopup .popupList { 
    position:absolute; top:50%;
    left:35%; right:35%;
    transform:translateY(-50%);
    text-align:center; 
}
.galleryPopup .popupList .close {
    position:absolute; top:-20px; right:-20px; 
    font-size:40px; color:#fff;
    background:none; cursor:pointer; }
.galleryPopup .popupList .arrow {
    position:absolute; top:50%; 
    transform:translateY(-50%);
    font-size:40px; color:#fff;
    background:none; cursor:pointer;
}
.galleryPopup .popupList .prev { left:-40px }
.galleryPopup .popupList .next { right:-40px }







/* Contact : 마지막 section */
.section .contact { background: linear-gradient(
    115deg,
    rgba(86, 216, 228, 1) 10%,
    rgba(159, 1, 234, 1) 90%); 
    margin: 0 auto; border: 2px solid #000;
    height: 100%; }
.section .sec-contact { border-bottom: 2px solid #000; }
.section .sec-contact .text-box {
    font-size: 120px; padding: 0 214px; color: #fff;
    font-family: 'Merriweather', serif;
    background: #000; float: left; letter-spacing: 0.3em; }
.section .sec-contact h2 { transform: translateY(100%); opacity: 0; transition: all 0.5s; }
.section .sec-contact h2.on { transform: translateY(0%); opacity: 1; }
.section .contact-empty img { 
    float: right; width: 45px; height: 45px; position: relative;
    top: 63px; right: 280px; }

.section .form{ 
    width: 340px; height: 440px; background:#e6e6e6;
    border-radius: 8px; box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto; padding:20px 30px;
    max-width: calc(100vw - 40px); position:relative; top: -150px; left: 0; }

.section .form h2 { 
    margin: 10px 0; padding-bottom:10px; width:180px;
    color:#78788c; border-bottom:3px solid #78788c }

.section .form input{ 
    width:100%; padding:10px; background:none;
    outline:none; resize:none; transition:all .3s;
    border-bottom:2px solid #bebed2 }

.section .form input:focus{ border-bottom:2px solid #78788c }

.section .form p:before{ 
    content:attr(type); display:block;
    margin:28px 0 0; font-size:14px; color:#5a5a5a }

.section .form button{ 
    padding:8px 12px; margin:8px 0 0; float: right;
    border:2px solid #78788c; background:0;
    color:#5a5a6e; cursor:pointer; transition:all .3s }
.section .form button:hover{ background:#78788c;color:#fff }

.section .form div{ 
    position:absolute; bottom:-15px;
    right:-20px; background:#50505a; color:#fff;
    width:320px; padding:16px 4px 16px 0; border-radius:6px;
    font-size:13px; box-shadow:10px 10px 40px -14px #000 }

.section .form span{ margin:0 5px 0 15px }

.section .connect { position: relative; }
.section .connect h2 { 
    position: absolute; left: 50%; bottom: 250px;  
    transform: translate(-50%); color: #fff; 
    border: 2px solid #fff; padding: 15px 45px; }





/* footer 구역*/

.footer {
    background-color: #484848;
    height: 180px;
    padding-top: 20px; }
.footer .copyright { text-align: center; }
.footer p { color: rgba(255, 255, 255, 0.5); padding-top: 5px; }
.social-links { text-align: center; margin: 25px 0; }
.social-links a { color: #fff; padding:20px 10px; font-size: 21px; }
.social-links a:hover { color: #FF6363; transition: all 0.5s; }


